{% extends 'views/base.html' %}
{% block body %}
{% include "views/components/header.html" %}
<div class="container">
  <div class="box sign-box">
    <form action="/signin" method="post">
      <div class="field">
        <label for="" class="label">用户名</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="username" />
        </div>
      </div>
      <div class="field">
        <label for="" class="label">密码</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="passowrd" />
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">立即登录</button>
        </div>
        <div class="control">
          <a href="/signup" class="button is-text">还没有账号?去注册</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}